<nz-layout class="app-layout">
  <nz-header class="app-header">
    <div class="logo-tenant-wrapper">
      <span nz-icon nzType="build" nzTheme="twotone"></span>
      <span>IaaS Flow Builder</span>
      <span nz-typography nzType="secondary" class="tenant-label">Current Tenant:</span>
      <nz-select nzShowSearch
                 class="tenant-select"
                 nzPlaceHolder="Select a tenant"
                 [(ngModel)]="selectedTenant"
                 (ngModelChange)="dataService.setCurrentTenantData($event)">
        <nz-option *ngFor="let tenant of dataService.tenants" [nzLabel]="tenant.name" [nzValue]="tenant"></nz-option>
      </nz-select>
    </div>
    <div class="user-wrapper" nz-dropdown [nzDropdownMenu]="userMenu">
      <nz-avatar nzIcon="user"></nz-avatar>
      <span class="username" nz-typography nzType="secondary">Arthur Bleil</span>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>Settings</li>
        <li nz-menu-item>Log out</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout class="app-inner-layout">
    <nz-sider class="app-side-menu" nzTheme="light" nzWidth="260px">
      <ul nz-menu nzMode="inline" class="app-menu">
        <li nz-menu-item routerLink="/auth/home" routerLinkActive #home="routerLinkActive" [nzSelected]="home.isActive">
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li nz-submenu [nzTitle]="selectedTenant?.name || 'Tenant'" nzIcon="idcard" nzOpen class="app-side-sub-menu">
          <ul class="app-side-sub-menu-list">
            <li nz-menu-item routerLink="/auth/builder" routerLinkActive #builder="routerLinkActive" [nzSelected]="builder.isActive">Builder</li>
            <li nz-menu-group nzTitle="Settings">
              <ul>
                <li nz-menu-item routerLink="/auth/tenant-data" routerLinkActive #tenantData="routerLinkActive" [nzSelected]="tenantData.isActive">Tenant Data</li>
                <li nz-menu-item routerLink="/auth/theme" routerLinkActive #theme="routerLinkActive" [nzSelected]="theme.isActive">Theme</li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Administrator" nzIcon="audit" nzOpen class="app-side-sub-menu">
          <ul>
            <li nz-menu-item routerLink="/auth/admin/tenants" routerLinkActive #tenants="routerLinkActive" [nzSelected]="tenants.isActive">Tenants</li>
            <li nz-menu-item routerLink="/auth/admin/users" routerLinkActive #users="routerLinkActive" [nzSelected]="users.isActive">Users & Permissions</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content class="app-content">
      <ng-container *ngIf="currentPageInfo">
        <nz-breadcrumb>
          <nz-breadcrumb-item *ngFor="let item of currentPageInfo.breadcrumbs">
            <span *ngIf="item.icon" nz-icon [nzType]="item.icon"></span>
            <span *ngIf="item.text">{{ item.text }}</span>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <h1 nz-typography>{{ currentPageInfo.title }}</h1>
      </ng-container>
      <nz-layout class="app-content-wrapper">
        <router-outlet></router-outlet>
      </nz-layout>
    </nz-content>
  </nz-layout>
</nz-layout>
