<nz-card nzTitle="Screens" [nzExtra]="screensExtra">
  <nz-list *ngIf="screensList && screensList.length">
    <nz-list-item *ngFor="let item of screensList; index as i;">
      <ng-container>
        <nz-list-item-meta [nzDescription]="'Passo ' + (i + 1)">
          <nz-list-item-meta-title class="screen-title" [ngClass]="['screen-title', item.selected ? 'selected' : '']">{{ item.screen.title }}</nz-list-item-meta-title>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button nz-button [nzType]="item.selected ? 'primary': 'link'" nzSize="small" (click)="selectScreen(item)"><span nz-icon nzType="edit"></span></button>
          </nz-list-item-action>
          <nz-list-item-action>
            <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="delete"></span></button>
          </nz-list-item-action>
        </ul>
      </ng-container>
    </nz-list-item>
  </nz-list>
</nz-card>
<ng-template #screensExtra>
  <button nz-button nzType="link" nzSize="small" nzShape="round" (click)="showAddScreen()">
    <span nz-icon nzType="plus"></span>
    Add screen
  </button>
</ng-template>
<nz-modal [(nzVisible)]="showAddScreenModal" nzTitle="Add New Screen" (nzOnCancel)="cancelAddScreen()" (nzOnOk)="addScreen()">
  <ng-container *nzModalContent>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="addScreenForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input the screen name!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="screenName" nz-input placeholder="Screen Name" required="true" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelAddScreen()">Cancel</button>
    <button nz-button nzType="primary" (click)="addScreen()" [disabled]="addScreenForm.invalid">Add Screen</button>
  </div>
</nz-modal>
