<nz-layout class="builder-layout">
  <nz-sider nzWidth="320px" class="builder-screens">
    <ng-container *ngIf="dataService && dataService.currentTenantData && dataService.currentTenantData.screens && dataService.currentTenantData.screens.length">
      <app-screens-list (screenSelectedChanged)="screenSelectedChanged($event)"
                        [screens]="dataService.currentTenantData.screens">
      </app-screens-list>
    </ng-container>
  </nz-sider>
  <nz-content class="builder-screens-content">
    <ng-container *ngIf="currentScreen">
      <nz-layout class="builder-screens-content-layout">
        <nz-content class="builder-fields">
          <nz-card nzTitle="Editing: {{ currentScreen.title }}" class="full-width" [classList]="['edit-card']">
            <section class="fields-wrapper">
              <div class="current-screen-component">
                <ng-container *ngIf="currentScreen && currentScreen.components && currentScreen.components.length">
                  <nz-divider class="first-title-divider" nzText="Components"></nz-divider>
                  <app-components-tree [screenComponents]="currentScreen.components"
                                       (onComponentClick)="onComponentClick($event)">
                  </app-components-tree>
                  <nz-divider nzText="Operations"></nz-divider>
                </ng-container>
              </div>
              <div class="properties-divider">
                <div class="properties-description">
                  <span nz-icon nzType="double-right" nzTheme="outline"></span>
                </div>
              </div>
              <div>
                <app-component-properties [selectedComponent]="screenSelectedComponent"></app-component-properties>
              </div>
            </section>
          </nz-card>
        </nz-content>
        <nz-sider nzWidth="400px" class="builder-smartphone">
          <div class="smartphone-frame">
            <i class="speaker"></i>
            <b class="camera"></b>
            <div class="current-screen-content" *ngIf="dataService.currentTenantData">
              <ng-container *ngIf="currentScreen">
                <div class="header-spacer"></div>
                <div class="header">
                  <img [src]="dataService.currentTenantData.settings.tenant.logoUrl" [alt]="dataService.currentTenantData.settings.tenant.name">
                </div>
                <div class="stepper">
                  <button mat-icon-button aria-label="Back">
                    <mat-icon class="back-button">arrow_back_ios</mat-icon>
                  </button>
                  <div class="step-info">
                    <span class="title">{{ currentScreen.title }}</span>
                    <span class="info">passo {{ currentScreen.stepNumber + 1 }} de {{ dataService.currentTenantData.screens.length }}</span>
                  </div>
                  <button mat-icon-button aria-label="Info">
                    <mat-icon class="info-button">info</mat-icon>
                  </button>
                </div>
                <div class="dynamic-content">
                  <ng-template *ngFor="let component of currentScreen.components" [appComponentLoader]="component"></ng-template>
                </div>
                <div class="operations">
                  <!-- <app-ok *ngFor="let operation of currentScreen.operations" [text]="operation.title"></app-ok> -->
                </div>
              </ng-container>
            </div>
          </div>
          <span nz-typography nzType="secondary" class="preview-description">Preview: {{ currentScreen.title }}</span>
        </nz-sider>
      </nz-layout>
    </ng-container>
  </nz-content>
</nz-layout>
