<nz-layout class="builder-layout">
  <nz-sider nzWidth="320px" class="builder-screens">
    <ng-container *ngIf="dataService && dataService.currentTenantData && dataService.currentTenantData.screens && dataService.currentTenantData.screens.length">
      <app-screens-list [screens]="dataService.currentTenantData.screens"></app-screens-list>
    </ng-container>
  </nz-sider>
  <nz-content class="builder-screens-content">
    <nz-layout class="builder-screens-content-layout">
      <nz-content class="builder-fields">
        <nz-card nzTitle="Editing: {{ currentScreen?.title }}" style="width: 100%;" [nzExtra]="editExtra">
          <section class="fields-wrapper">
            <div>
              <ng-container *ngIf="currentScreen && currentScreen.components && currentScreen.components.length">
                <app-components-tree [screenComponents]="currentScreen.components" (onComponentClick)="onComponentClick($event)"></app-components-tree>
              </ng-container>
            </div>
            <div class="properties-divider">
              <div class="properties-description">
                <span nz-icon nzType="double-right" nzTheme="outline"></span>
              </div>
            </div>
            <div>
              <app-component-properties [selectedComponent]="screenSelectedComponent"></app-component-properties>
            </div>
          </section>
        </nz-card>
        <ng-template #editExtra>
          <nz-space nzSize="small">
            <button *nzSpaceItem nz-button nzType="default" nzSize="small" nzShape="round">
              Cancel
            </button>
            <button *nzSpaceItem nz-button nzType="primary" nzSize="small" nzShape="round">
              <span nz-icon nzType="save"></span>
              Save
            </button>
          </nz-space>
        </ng-template>
      </nz-content>
      <nz-sider nzWidth="400px" class="builder-smartphone">
        <div class="smartphone-frame">
          <i class="speaker"></i>
          <b class="camera"></b>
          <div class="current-screen-content">
          </div>
        </div>
        <span nz-typography nzType="secondary" class="preview-description">Preview: {{ currentScreen?.title }}</span>
      </nz-sider>
    </nz-layout>
  </nz-content>
</nz-layout>
