<nz-layout class="builder-layout">
  <nz-sider nzWidth="320px" class="builder-screens">
    <nz-card nzTitle="Screens" [nzExtra]="screensExtra">
      <nz-list>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta nzDescription="Passo 1">
              <nz-list-item-meta-title>Screen 1</nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="edit"></span></button>
              </nz-list-item-action>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="delete"></span></button>
              </nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta nzDescription="Passo 2">
              <nz-list-item-meta-title>Screen 2</nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="edit"></span></button>
              </nz-list-item-action>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="delete"></span></button>
              </nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta nzDescription="Passo 3">
              <nz-list-item-meta-title>Screen 3</nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="edit"></span></button>
              </nz-list-item-action>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="delete"></span></button>
              </nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta nzDescription="Passo 4">
              <nz-list-item-meta-title>Screen 4</nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="edit"></span></button>
              </nz-list-item-action>
              <nz-list-item-action>
                <button nz-button nzType="link" nzSize="small"><span nz-icon nzType="delete"></span></button>
              </nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
      </nz-list>
    </nz-card>
    <ng-template #screensExtra>
      <button nz-button nzType="primary" nzSize="small" nzShape="round">
        <span nz-icon nzType="plus"></span>
        Add screen
      </button>
    </ng-template>
  </nz-sider>
  <nz-content class="builder-screens-content">
    <nz-layout class="builder-screens-content-layout">
      <nz-content class="builder-fields">
        <nz-card nzTitle="Editing: Screen 1" style="width: 100%;" [nzExtra]="editExtra">
          <section class="fields-wrapper">
            <div>
              <h5 nz-typography>Components Tree</h5>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
              <p>ABC</p>
            </div>
            <div>
              <nz-divider nzType="vertical" [nzText]="text">
                <ng-template #text>
                  <span>Properties</span>
                  <span nz-icon nzType="right"></span>
                </ng-template>
              </nz-divider>
            </div>
            <div>
              <h5 nz-typography>Component Properties</h5>
            </div>
          </section>
        </nz-card>
        <ng-template #editExtra>
          <nz-space nzSize="small">
            <button *nzSpaceItem nz-button nzType="default" nzSize="small" nzShape="round">
              Cancel
            </button>
            <button *nzSpaceItem nz-button nzType="primary" nzSize="small" nzShape="round">
              <span nz-icon nzType="save"></span>
              Save
            </button>
          </nz-space>
        </ng-template>
      </nz-content>
      <nz-sider nzWidth="400px" class="builder-smartphone">
        <div class="smartphone-frame">
          <i class="speaker"></i>
          <b class="camera"></b>
          <div class="current-screen-content">
          </div>
        </div>
      </nz-sider>
    </nz-layout>
  </nz-content>
</nz-layout>
