.card {
  width: 100%;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: var(--flow-card-background);
  border: 1px solid var(--flow-card-border);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 100%;
}
