.title {
  font-size: 21px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--flow-title);
}

.description {
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  margin: 8px 0 32px 0;
  color: var(--flow-subtitle);
}
