:host {
  width: 100%;
}

.full-width {
  width: 100%;

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: var(--flow-input-background);

    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        .mat-mdc-input-element {
          color: var(--flow-text);
          caret-color: var(--flow-primary);
        }

        .mdc-floating-label {
          color: var(--flow-input-label-border);
        }
      }
    }

    .mdc-line-ripple {
      &::before, &::after {
        border-bottom-color: var(--flow-input-label-border);
      }

      &.mdc-line-ripple--active {
        &::before, &::after {
          border-bottom-color: var(--flow-primary);
        }
      }
    }
  }
}
