<ng-container *ngIf="selectedComponent">
  <div *ngIf="componentHasProperties">
    <h5 nz-typography>{{ selectedComponent.info.title }} Properties</h5>
    <br>
    <ng-container *ngIf="selectedComponent && selectedComponent.component.properties && propertiesForm">
      <form nz-form nzLayout="vertical" [formGroup]="propertiesForm">
        <nz-form-item *ngFor="let p of (selectedComponent.info.properties ?? [])">
          <ng-container [ngSwitch]="p.type">
            <ng-container *ngSwitchCase="'text'">
              <nz-form-label [nzFor]="p.valueProp">{{ p.text }}</nz-form-label>
              <nz-form-control>
                <!-- the approach used here is only for the POC purposes -->
                <input nz-input type="text" [formControlName]="p.valueProp" (change)="onValueChange(p.valueProp)">
              </nz-form-control>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <!-- the approach used here is only for the POC purposes -->
              <label nz-checkbox [formControlName]="p.valueProp" (change)="onValueChange(p.valueProp)">
                <span nz-typography>{{ p.text }}</span>
              </label>
            </ng-container>
          </ng-container>
        </nz-form-item>
      </form>
    </ng-container>
  </div>
  <div *ngIf="!componentHasProperties" class="empty-properties-wrapper">
    <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="messageTpl"></nz-empty>
    <ng-template #messageTpl>
      <span>The {{ selectedComponent.info.title }} component does not have any customizable properties.</span>
    </ng-template>
  </div>
</ng-container>
<ng-container *ngIf="!selectedComponent">
  <div class="empty-properties-wrapper">
    <nz-empty [nzNotFoundContent]="messageTpl"></nz-empty>
    <ng-template #messageTpl>
      <span>Select a component on the tree.</span>
    </ng-template>
  </div>
</ng-container>
