<section class="login-wrapper">
  <div class="form-wrapper">
    <div class="login-head">
      <span nz-icon nzType="build" nzTheme="twotone"></span>
      <span class="title" nz-typography>IaaS Flow Builder</span>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user" nzSize="large">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-more-actions">
        <label nz-checkbox formControlName="remember">
          <span nz-typography>Remember me</span>
        </label>
        <a class="login-form-forgot">Forgot password</a>
      </div>
      <button nz-button nzSize="large" class="login-form-button login-form-margin" [nzType]="'primary'" routerLink="/auth/home">Log in</button>
      <div nz-row class="login-form-register">
        <span nz-typography>Or <a>register now!</a></span>
      </div>
    </form>
  </div>
</section>
